@model IEnumerable<Covid19.Entities.Models.SettingGroupModel>
@{
    ViewData["Title"] = "Setting";
    var active = "";
}
<div class="row">

    <div class="col-md-6 offset-md-3">

        <h1 class="mt-4">@ViewData["Title"]</h1>
        <section class="tabs session-tabs">
            <p class="caption mb-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <br />
            <nav>
                <div class="nav nav-tabs nav-fill" id="pills-tab" role="tablist" aria-orientation="vertical">
                    @foreach (var item in Model)
                    {
                        var link = $"#item{item.Group}";
                        active = item.Group == "General" ? "active" : "";
                        <a href="@link" class="nav-link @active col-sm" data-toggle="tab" role="tab" aria-controls="@link">@Html.Raw(item.Group)</a>
                    }
                </div>
            </nav>
            <form asp-action="Update" enctype="multipart/form-data">
                <div class="tab-content mt-4">

                    @foreach (var item in Model)
                    {
                        var id = $"item{item.Group}";
                        active = item.Group == "General" ? "show active" : "";
                        <div id="@id" class="tab-pane fade @active" role="tabpanel">
                            @foreach (var setting in item.Settings)
                            {
                            <div class="form-group">
                                <label for="@setting.Key" class="control-label">@setting.Name</label>
                                @switch (setting.Type)
                                {
                                    case "text":
                                        <input type="text" id="@setting.Key" name="@setting.Key" class="form-control" value="@setting.Value" />
                                        break;
                                    case "url":
                                        <input type="url" id="@setting.Key" name="@setting.Key" class="form-control" value="@setting.Value" />
                                        break;
                                    case "textarea":
                                        <textarea id="@setting.Key" name="@setting.Key" class="form-control" rows="10" cols="5">@setting.Value</textarea>
                                        break;
                                    case "email":
                                        <input type="email" id="@setting.Key" name="@setting.Key" class="form-control" value="@setting.Value" />
                                        break;
                                    case "file":

                                        <div class="card" style="width: 18rem;">
                                            @if (setting.Value != null)
                                            {
                                                <img src="@setting.Value" id="banner_image" class="card-img-top" />
                                            }


                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="file" name="@setting.Key" id="@setting.Key" class="form-control" />
                                            <div class="input-group-append">
                                                <input type="button" value="Upload" class="btn btn-primary banner-image" />
                                            </div>
                                        </div>
                                        
                                        break;
                                }
                            </div>
                            }

                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary float-right" />
                    </div>
                </div>
            </form>
        </section>


    </div>
</div>

@section scripts{ 
<script>
    $(document).ready(function () {
        $("body").on("click", ".banner-image", function () {
            var banner = $("#banner").get(0).files[0];
            var formData = new FormData();
            formData.append("banner", banner);

            $.ajax({
                url: "/Dashboard/Settings/UploadBanner",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (response) {
                    if (response != null) {
                        $("#banner_image").prop("src", response);
                    }
                    
                }
            });
        });
    });
</script>
}